[submodule "builtin_models/repositories/stability-ai-stable-diffusion"]
	path = builtin_models/repositories/stability-ai-stable-diffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "builtin_models/repositories/stability-ai-generative-models"]
	path = builtin_models/repositories/stability-ai-generative-models
	url = https://github.com/Stability-AI/generative-models.git
