[submodule "model_configs/repositories/stability-ai-stable-diffusion"]
	path = model_configs/repositories/stability-ai-stable-diffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "model_configs/repositories/stability-ai-generative-models"]
	path = model_configs/repositories/stability-ai-generative-models
	url = https://github.com/Stability-AI/generative-models.git
[submodule "model_configs/repositories/comfyui"]
	path = model_configs/repositories/comfyui
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "model_configs/repositories/flux"]
	path = model_configs/repositories/flux
	url = https://github.com/black-forest-labs/flux.git
