[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "sd-mecha"
version = "0.0.1"
description = "Stable Diffusion recipe merger"
readme = "README.md"
authors = [{ name = "ljleb" }]
requires-python = ">=3.10"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "numpy",
    "safetensors",
    "tqdm",
    "scipy",
]

[project.urls]
Homepage = "https://github.com/ljleb/sd-mecha"
Issues = "https://github.com/ljleb/sd-mecha/issues"
